<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% block metas %}{% endblock %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% block body %}{% endblock %}
    </body>
    {% block javascripts %}{% endblock %}
</html>
