 <div class="pagetitle">
<h1>{{ controller_name }}</h1>
<nav>
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
    <li class="breadcrumb-item active">{{ controller_name }}</li>
    </ol>
</nav>
</div><!-- End Page Title -->