{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<div class="example-wrapper">
<h1>{{ controller_accion }}</h1>
<h2>{{ mensaje }}</h2>
    <form action="{{ path('app_state_new') }}" method="POST">
        <label for="pstate">Estado:</label><br>
        <input type="text" id="sname" name="sname" value="  "> 
        <input type="submit" name="submit" value="Submit">
    </form> 
</div>
{% endblock %}
