<!DOCTYPE html>
<html lang="en">

{%include "frontoffice_head.html.twig" %}

<body>
    {% include "frontoffice_topbar,html.twig" %}

    {% include "frontoffice_navbar.html.twig" %}

    {% block content%}{%endblock%}

    {% include "frontoffice_footer.html.twig" %}
  
    {%include "frontoffice_javascript.html.twig" %}
   
</body>

</html>